
/*Importar font google*/
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');
/*Selector universal (reset)*/
*{
  margin: 0;
  padding: 0;
  font-family: Gowun+Batang, serif;
  font-size: 2rem;
  color: black;
  text-align: center;
}
html{
font-size: 62.5%;
}
Body {

  background-color: #faf9ce;
  background-repeat: repeat;
  background-position: center top;
}
#nom{
  background-color: white;
    color: Red;
    text-align: center;
    padding: 1px;
}
/*colorde fondo con apha*/
nav{
  grid-area: nav;
  position: sticky;
  top: 0;
  justify-content: space-between;
}
article img{
  width: 100%;
}
ul{
  list-style: none;
  font-size: 0;
  display: flex;
  justify-content: space-around;
}
li{
  display: inline-block;
  width: 18%;
  position:relative;
}
ul li{
  /* display: inline-block; */
  width: 18%;
  text-align: center;
  position:relative;  
  padding: 15px 6px;
}
/*Selector de Grupo*/
h1,h2, h3 {
  color: white;
  font-style: italic;
 text-decoration: none;
  /* font-weight:500px ;*/
}
a{
  color: white;
  text-decoration: none;
  font-size: 18px;
}
p{
  color: black;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2px;
  word-spacing: 4px;
}
#caja1{
  width: 60%;
  padding: 103px ;
  box-sizing: border-box;
  overflow: auto;
}
footer{
  grid-area: footer;
  background-color: orange;
  text-align: center;
  color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.contenedor {
  margin-top: 30px;
  padding: 10px;
  border: solid 3px black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
}
.contenedor img {
  width: 300px;
  padding: 5px;
}
.box{
    padding: 1px;
    font-size: 2em;
}
.scale:hover{
  transform: scale(1.2);
  cursor: pointer;
  transition: transform 2s;
}
h3{
  color: black;
}
